(
A,
AE,
B,
C,
D,
Eth,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
OE,
P,
Thorn,
Q,
R,
S,
Germandbls,
T,
U,
V,
W,
X,
Y,
Z,
Q.ss01,
a,
ae,
b,
c,
d,
eth,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
oe,
p,
thorn,
q,
r,
s,
germandbls,
t,
u,
v,
w,
x,
y,
z,
f.lig_comp,
f_b.liga,
f_h.liga,
f_i.liga,
f_j.liga,
f_k.liga,
f_l.liga,
ordfeminine,
ordmasculine,
alpha,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
.notdef,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
numero,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
perthousand,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
_corner.beak,
_corner.mitre,
_corner.serif,
_segment.bulge
)