{
.appVersion = "3134";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
date = "2024-10-02 05:59:39 +0000";
familyName = Callisto;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature ordn;
feature onum;
feature ss01;
feature locl;
feature lnum;
feature case;
";
tag = aalt;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
sub N o period by numero;
";
tag = ordn;
},
{
automatic = 1;
code = "sub zero.lf by zero;
sub one.lf by one;
sub two.lf by two;
sub three.lf by three;
sub four.lf by four;
sub five.lf by five;
sub six.lf by six;
sub seven.lf by seven;
sub eight.lf by eight;
sub nine.lf by nine;
sub zero by zero.osf;
sub one by one.osf;
sub two by two.osf;
sub three by three.osf;
sub four by four.osf;
sub five by five.osf;
sub six by six.osf;
sub seven by seven.osf;
sub eight by eight.osf;
sub nine by nine.osf;
";
tag = onum;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f b by f_b.liga;
sub f h by f_h.liga;
sub f i by f_i.liga;
sub f j by f_j.liga;
sub f k by f_k.liga;
sub f l by f_l.liga;
";
tag = liga;
},
{
automatic = 1;
code = "sub Q by Q.ss01;
";
labels = (
{
language = dflt;
value = "";
}
);
tag = ss01;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	@CombiningNonTopAccents = [cedillacomb ogonekcomb];
	sub [i j]' @CombiningTopAccents by [idotless jdotless];
	sub [i j]' @CombiningNonTopAccents @CombiningTopAccents by [idotless jdotless];
} ccmp_Other_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "lookup locl_latn_0 {
	script latn;
	language AZE;
	sub i by idotaccent;
	language CRT;
	sub i by idotaccent;
	language KAZ;
	sub i by idotaccent;
	language TAT;
	sub i by idotaccent;
	language TRK;
	sub i by idotaccent;
} locl_latn_0;

lookup locl_latn_1 {
	script latn;
	language ROM;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	language MOL;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
} locl_latn_1;

lookup locl_latn_2 {
	script latn;
	language CAT;
	sub l periodcentered' l by periodcentered.loclCAT;
	sub L periodcentered' L by periodcentered.loclCAT.case;
} locl_latn_2;
";
tag = locl;
},
{
automatic = 1;
code = "sub zero by zero.lf;
sub one by one.lf;
sub two by two.lf;
sub three by three.lf;
sub four by four.lf;
sub five by five.lf;
sub six by six.lf;
sub seven by seven.lf;
sub eight by eight.lf;
sub nine by nine.lf;
";
tag = lnum;
},
{
automatic = 1;
code = "sub periodcentered.loclCAT by periodcentered.loclCAT.case;
sub zero by zero.lf;
sub one by one.lf;
sub two by two.lf;
sub three by three.lf;
sub four by four.lf;
sub five by five.lf;
sub six by six.lf;
sub seven by seven.lf;
sub eight by eight.lf;
sub nine by nine.lf;
sub zero.osf by zero.lf;
sub one.osf by one.lf;
sub two.osf by two.lf;
sub three.osf by three.lf;
sub four.osf by four.lf;
sub five.osf by five.lf;
sub six.osf by six.lf;
sub seven.osf by seven.lf;
sub eight.osf by eight.lf;
sub nine.osf by nine.lf;
";
tag = case;
}
);
fontMaster = (
{
axesValues = (
400
);
guides = (
{
angle = 120;
pos = (452,383);
},
{
angle = 210;
pos = (452,383);
}
);
id = m01;
metricValues = (
{
over = 10;
pos = 800;
},
{
over = 10;
pos = 760;
},
{
over = 10;
pos = 500;
},
{
over = -10;
},
{
over = -10;
pos = -250;
}
);
name = Regular;
userData = {
GSOffsetHorizontal = 5;
GSOffsetPosition = 0;
GSOffsetVertical = 5;
};
},
{
axesValues = (
800
);
guides = (
{
angle = 120;
pos = (236,281);
},
{
angle = 210;
pos = (80,266);
}
);
iconName = Bold;
id = m002;
metricValues = (
{
over = 10;
pos = 800;
},
{
over = 10;
pos = 760;
},
{
over = 10;
pos = 500;
},
{
over = -10;
},
{
over = -10;
pos = -250;
}
);
name = Heavy;
userData = {
GSOffsetHorizontal = 20;
GSOffsetKeepCompatible = 1;
GSOffsetPosition = 0;
GSOffsetVertical = 20;
};
}
);
instances = (
{
axesValues = (
400
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
600
);
instanceInterpolations = {
m002 = 0.5;
m01 = 0.5;
};
name = Semibold;
weightClass = 600;
},
{
axesValues = (
700
);
instanceInterpolations = {
m002 = 0.75;
m01 = 0.25;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Ishtar van Looy";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "OFL 3.1";
}
);
}
);
unitsPerEm = 1000;
userData = {
UFO.lib = {
public.postscriptNames = {
Gcommaaccent = uni0122;
Germandbls = uni1E9E;
Kcommaaccent = uni0136;
Lcommaaccent = uni013B;
Ncommaaccent = uni0145;
Scommaaccent = uni0218;
Tcommaaccent = uni021A;
brevecomb = uni0306;
caroncomb = uni030C;
caroncomb.alt = uni030C.alt;
cedillacomb = uni0327;
circumflexcomb = uni0302;
commaaccentcomb = uni0326;
commaturnedabovecomb = uni0312;
dieresiscomb = uni0308;
dotaccentcomb = uni0307;
euro = Euro;
gcommaaccent = uni0123;
guillemetleft = guillemotleft;
guillemetright = guillemotright;
hungarumlautcomb = uni030B;
idotaccent = i.loclTRK;
idotless = dotlessi;
jdotless = uni0237;
kcommaaccent = uni0137;
lcommaaccent = uni013C;
macroncomb = uni0304;
nbspace = uni00A0;
ncommaaccent = uni0146;
numero = uni2116;
ogonekcomb = uni0328;
ringcomb = uni030A;
scommaaccent = uni0219;
tcommaaccent = uni021B;
};
};
UFOFormat = 3;
};
versionMajor = 1;
versionMinor = 0;
}
