(
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
Q.ss01,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
h,
hbar,
i,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
j,
jdotless,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
f.lig_comp,
f_b.liga,
f_h.liga,
f_i.liga,
f_j.liga,
f_k.liga,
f_l.liga,
ordfeminine,
ordmasculine,
alpha,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
.notdef,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
numero,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
perthousand,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)